%form{ :action => '/url', :method => 'post'}
  %label{:for => 'url'} URL:
  %input{:type => 'text', :name => 'url'}

%form{ :action => '/register', :method => 'get'}
  %input{:type => 'submit', :value => 'Register', :name => 'register'}

%h2 Invalid Login

%form{ :action => '/login', :method => 'get'}
  %label{:for => 'username'} Username:
  %input{:type => 'text', :name => 'username'}

  %label{:for => 'password'} Password:
  %input{:type => 'password', :name => 'password'}

  %input{:type => 'submit', :name => 'login'}

%h1 Top Requests:
- unless @popular.nil?
  -@popular.each do |r|
    %p="#{r[0]} has been requested #{r[1]} time(s)"

%h1 Most Recent Requests:
- unless @recent.nil?
  -@recent.each do |r|
    %p="#{r[:url]} was requested at #{r[:created_at]}"